In [1]:
# !pip install pymysql

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/genres_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("genres_al", engine, index=False)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/keywords_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("keywords_al", engine, index=False)

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/movie_details_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("movie_details_al", engine, index=False)

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/prod_company_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("prod_company_al", engine, index=False)

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/prod_country_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("prod_country_al", engine, index=False)

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/original_csv_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("original_csv_al", engine, index=False)

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/movieid_genreid_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("movieid_genreid_al", engine, index=False)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/genre_vote_csv_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("genre_vote_csv_al", engine, index=False)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/prod_id_avg_vote_al.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("prod_id_avg_vote_al", engine, index=False)

ValueError: Table 'prod_id_avg_vote_al' already exists.

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="movies"
uname="root"
pwd="Ayush&&&123"

# Create dataframe
df = pd.read_csv(r"csv_for_db/pavgvote.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql("pavgvote", engine, index=False)